@import (optional) "theme";

@import "../../fonts/Google_Sans/css.css";
@import "../../fonts/Icon_Font/material-icons.css";
@import "../../fonts/Roboto/css.css";
@import "../../fonts/Roboto_Condensed/css.css";
@import "../../fonts/Roboto_Mono/css.css";
@import "../../fonts/Roboto_Slab/css.css";

::selection {
	background: #bbd3fd;
	color: #000;
}

body {
	color: #424242;
	background: #ffffff;
	font-family: @fontFamily;
	padding: 0;
	outline: 0;
	font-size: 14px;
	overflow-x: hidden;
	letter-spacing: .25px;
	-webkit-tap-highlight-color: transparent;
	@media @md, @lg, @xl {
		padding: 1rem;
	}
}

p {
	font-weight: 400;
	font-size: 16px;
	letter-spacing: .5px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: @fontFamily;
	font-weight: 400;
	margin: 8px 0;
}

h1 {
	letter-spacing: -1.5px;
	font-weight: 300;
	font-size: 96px;
}

h2 {
	letter-spacing: -.5px;
	font-weight: 300;
	font-size: 60px;
}

h3 {
	font-size: 48px;
}

h4 {
	letter-spacing: .25px;
	font-size: 34px;
}

h5 {
	font-size: 24px;
}

h6 {
	letter-spacing: .15px;
	font-size: 20px;
	font-weight: 500;
}

hr {
	border: none;
	border-bottom: 1px solid #e0e0e0;
	width: 100%;
}

@import "mixins/Color";
@import "mixins/Layout";
@import "mixins/Lighting";
@import "mixins/Transitions";
@import "mixins/Waves";

@import "components/Banner";
@import "components/Button";
@import "components/Card";
@import "components/Checkbox";
@import "components/FloatingActionButton";
@import "components/Icon";
@import "components/Textfield";
@import "components/Toolbar";
