.card-panel {
  	&:extend(.transition);
	&:extend(.raised-1);
	transition-property:box-shadow;

  	padding: 24px;
 	margin: 0.5rem 0 1rem 0;
  	border-radius: 2px;
  	background-color: #fff;
	&:hover {
		.raised-2();
	}
	&:active {
		.raised-3();
	}
}

.card {
	&:extend(.transition);
	&:extend(.raised-1);
	&:hover {
		.raised-2();
	}
	&:active {
		.raised-3();
	}
	transition-property:box-shadow;
  	position: relative;
  	margin: 0.5rem 0 1rem 0;
  	background-color: #fff;
  	border-radius: 2px;
	.card-title {
  		font-size: 24px;
 		font-weight: 300;
		.activator {
  			cursor: pointer;
		}
	}
	&.small,
	&.medium,
	&.large {
		&.small {
		  	height: 300px;
		}
		&.medium {
		  	height: 400px;
		}
		&.large {
		  	height: 500px;
		}
		.card-image {
		  	max-height: 60%;
		 	overflow: hidden;
			& + .card-content {
			  	max-height: 40%;
			}
		}
		.card-content {
		  	max-height: 100%;
		  	overflow: hidden;
		}
		.card-action {
		 	position: absolute;
		  	bottom: 0;
			left: 0;
		  	right: 0;
		}
	}
	&.horizontal {
	  	display: -webkit-box;
	  	display: -webkit-flex;
	  	display: -ms-flexbox;
	  	display: flex;
		&.small,
		&.medium,
		&.large {
			.card-image {
			  	height: 100%;
			  	max-height: none;
			  	overflow: visible;
				img {
				  	height: 100%;
				}
			}
		}
		.card-image {
		  	max-width: 50%;
			img {
			  	border-radius: 2px 0 0 2px;
			  	max-width: 100%;
			  	width: auto;
			}
		}
		.card-stacked {
		  	display: -webkit-box;
		  	display: -webkit-flex;
		 	display: -ms-flexbox;
		  	display: flex;
		  	-webkit-box-orient: vertical;
		  	-webkit-box-direction: normal;
		  	-webkit-flex-direction: column;
		    -ms-flex-direction: column;
			flex-direction: column;
		  	-webkit-box-flex: 1;
		  	-webkit-flex: 1;
		    -ms-flex: 1;
		    flex: 1;
		 	position: relative;
			.card-content {
			 	-webkit-box-flex: 1;
			  	-webkit-flex-grow: 1;
			    -ms-flex-positive: 1;
			    flex-grow: 1;
			}
		}
	}
	&.sticky-action .card-action {
	  	z-index: 2;
		.card-reveal {
		  	z-index: 1;
		  	padding-bottom: 64px;
		}
	}
	.card-image {
	  	position: relative;
		&.parallax {
			overflow:hidden;
		}
		img {
		  	display: block;
		  	position: relative;
		  	left: 0;
		  	right: 0;
		  	top: 0;
		  	bottom: 0;
		  	width: 100%;
		}
		.card-title {
		 	color: #fff;
		 	position: absolute;
		  	bottom: 0;
		  	left: 0;
		  	max-width: 100%;
		  	padding: 24px;
			text-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
		}
	}
	.card-content {
	 	padding: 24px;
	 	border-radius: 0 0 2px 2px;
		p {
		  	margin: 0;
		  	color: inherit;
		}
		.card-title {
		  	display: block;
		  	line-height: 32px;
		  	margin-bottom: 8px;
			i {
			  	line-height: 32px;
			}
		}
	}
	.card-action {
	  	position: relative;
		background-color: inherit;
	  	border-top: 1px solid rgba(160, 160, 160, 0.2);
	  	padding: 16px 24px;
		&:last-child {
		  	border-radius: 0 0 2px 2px;
		}
		a:not(.btn) {
		 	color:@primaryColor;
		  	margin-right: 24px;
		  	-webkit-transition: color .3s ease;
		  	transition: color .3s ease;
		  	text-transform: uppercase;
			user-select:none;
			cursor:pointer;
			&:hover {
			  	color:lighten(@primaryColor,15%);
			}
		}
	}
	.card-reveal {
	  	padding: 24px;
	  	position: absolute;
	  	background-color: #fff;
	  	width: 100%;
	  	overflow-y: auto;
	  	left: 0;
	  	top: 100%;
	  	height: 100%;
	  	z-index: 3;
	  	display: none;
	}
	.fab {
		position: absolute;
	    right: 24px;
	    bottom: -20px;
		&.large {
			bottom:-28px;
		}
	}
}

.row .col .card {
	margin:4px;
}
