input[type="checkbox"]:not(.switch) {
	&:extend(.transition);
	-webkit-appearance: none;
	outline: 0;
	border: 2px solid #6d6d6d;
	border-radius: 2px;
	width: 18px;
	height: 18px;
	display: inline-block;

	&:checked {
		border-width: 9px;
		border-color: @accentColor;
	}

	&:disabled {
		border-color: #b0b0b0!important;

		&::after {
			opacity: 0.78;
		}
	}

	&::after {
		&:extend(.transition);
		position: absolute;
		content: "\E5CA";
		color: #fff;
		font-family: "material icons";
		transform: scale(0);
		font-size: 18px;
		margin: -2px;
	}

	&.indeterminate::after {
		content: "\E15B";
	}

	&.rounded {
		border-radius: 50%;

		&::after {
			font-size: 16px;
			margin: -1px;
		}

		&:checked::after {
			margin: -8px;
		}
	}

	&:checked::after {
		transform: scale(1);
		margin: -9px;
	}
}

.checkbox {
	position:relative;
	.ripple {
		position: absolute;
		width: 48px;
		height: 48px;
		margin: -40px -11px;

		&::after {
			opacity: 0;
			pointer-events: none;
			content: "-";
		}
	}

	input:checked ~ .ripple .waves-ripple {
		background:fade(@accentColor,40%);
	}

	input:disabled ~ .ripple {
		display:none;
	}
}

.photon-dark,
when (@photonDarkTheme = true) {
	input[type="checkbox"]:not(.switch) {
		&:not(:checked) {
			border-color: #b5b5b5!important;
		}

		&:disabled {
			border-color: #717171!important;
		}

		&::after {
			color: #212121;
		}
	}
}
