input[type="radio"] {
	&:extend(.transition);
	-webkit-appearance: none;
	width: 18px;
	height: 18px;
	border: 2px solid #6d6d6d;
	border-radius: 50%;
	outline: 0;
	transform: translateY(-2px);

	&:checked {
		border: 2px solid @accentColor;
	}

	&::after {
		&:extend(.transition);
		width: 10px;
		height: 10px;
		border-radius: 50%;
		position: absolute;
		content: "";
		margin: 2px;
		transform: scale(0);
		background: @accentColor;
	}

	&:checked::after {
		transform: scale(1);
	}

	&:disabled {
		border-color: #b0b0b0;

		&::after {
			background: #b0b0b0;
		}
	}
}

.radio-btn {
	position:relative;
	.ripple {
		position: absolute;
		width: 48px;
		height: 48px;
		margin: -39px -10px;

		&::after {
			opacity: 0;
			pointer-events: none;
			content: "-";
		}
	}

	input:checked ~ .ripple .waves-ripple {
		background:fade(@accentColor,40%);
	}

	input:disabled ~ .ripple {
		display:none;
	}
}

.photon-dark,
when (@photonDarkTheme = true) {
	input[type="radio"] {
		&:not(:checked) {
			border-color: #b5b5b5!important;
		}

		&:disabled {
			border-color: #717171!important;
		}

		&:disabled::after {
			background: #717171;
		}
	}
}
