.input-field,
.dropdown {
	display:block;
	position:relative;
	padding: 14px 0!important;
	height: 60px!important;
	border-radius:@cornerFallback @cornerFallback 0 0;

	&.inline,
	&.dropdown {
		display:inline-block;
		overflow:hidden;
		padding-top:12px;
		margin-bottom:-42px;
	}
	input,
	select {
		padding:16px 0 8px;
		background:transparent;
		border:none;
		outline:0;
		font-size:16px;
		color:#212121;
		border-bottom:1px solid @dividerColor;
		caret-color:@accentColor;
		font-family:@fontFamily;
		display:block;
		width:-webkit-fill-available;
		.transition();
		transition-property:box-shadow;
	}
	label {
		color:#c1c1c1;
		position:relative;
		top:-28px;
		user-select:none;
		&:extend(.transition);
	}
	input:focus + label,
	input.containscontent + label,
	input[placeholder] + label {
		font-size:12px;
		top:-56px!important;
	}
	input:focus ~ label {
		color:@accentColor;
	}
	input::placeholder {
		color:#cacaca;
		user-select:none;
	}
	.message {
		&:extend(.transition);
		font-size:12px;
		padding-top:8px;
	}
	input:disabled {
		border-bottom-style: dashed;
		color:rgba(127,127,127,.6);
	}
	&.col {
		padding:4px;
	}
	.bar {
		background:@accentColor;
		position:absolute;
		height:2px;
		width:0px;
		left:50%;
	}

	&.backboard {
		background:#e8e8e8;
		padding:0px;
		height:58px!important;
		input,
		label {
			padding-left:16px;
			color:#555;
		}
		input::placeholder {
			color:#555;
		}
		input {
			padding:8px 16px 16px;
		}
		label {
			top:-40px;
		}
		label ~ input {
			padding:16px 0 8px;
		}
		&.containslabel {
			input {
				padding:16px 16px 8px;
			}
		}
	}

	&.outlined {
		border:1px solid @dividerColor;
		border-radius:@cornerFallback;
		position:relative;
		input {
			border:none;
			padding: 4px 0 8px 16px;
			margin:1px;
		}
		label {
			margin-left:10px;
			padding:0 6px;
			z-index:4
		}
		.bar {
			display:none;
		}
		input:focus ~ label,
		input.containscontent ~ label {
			top:-58px!important;
			background:#fafafa;
		}

		.borders {
			.transition();
			position:absolute;
			top:-1px;
			left:-1px;
			right:-1px;
			bottom:-1px;
			pointer-events:none;
			border:1px solid @accentColor;
			border-radius:@cornerFallback;
			z-index:3;
			opacity:0;
		}

		input:focus ~ .borders {
			opacity:1;
			border-width:2px;
		}
	}

}

.col .input-field {
	padding:0 2px;
	.bar {
		position:relative;
	}
}

.photon-dark, when (@photonDarkTheme = true) {
	input,
	select {
		border-color:#545454;
		color:#fafafa;
	}
	.outlined {
		border-color:#545454;
		input:focus ~ label,
		input.containscontent ~ label {
			background:#212121;
		}
	}
}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 30px #fafafa inset;
	border-color:@amber-darken1;
}

.photon-dialog input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 30px #fff inset;
	border-color:@amber-darken1;
}

.photon-dark, when (@photonDarkTheme = true) {
	.input-field.backboard {
		background:#262626;
	}
	input:-webkit-autofill {
		-webkit-box-shadow: 0 0 0 30px #212121 inset;
		border-color:@amber-darken1;
		-webkit-text-fill-color:#fafafa;
	}

	.photon-dialog input:-webkit-autofill {
		-webkit-box-shadow: 0 0 0 30px #242424 inset;
		border-color:@amber-darken1;
		-webkit-text-fill-color:#fafafa;
	}

	.photon-dialog input {
		color:#f0f0f0!important;
	}
}

.input-field {
	.bar {
		bottom:1px;
	}
	label ~ .bar {
		bottom:20px;
	}
	.options ~ .bar {
		bottom:29px;
	}
}
