.material-tooltip {
	.transition();
	transition-property:transform,margin;

    padding: 2px 8px;
    font-size:14px;
    z-index: 2000;
    background-color: transparent;
    border-radius: 2px;
    color: #fff;
    position: absolute;
    text-align: center;
    max-width: calc(~"100% - 4px");
    overflow: hidden;
    left: 0;
    top: 0;
    pointer-events: none;
	background:#676767;
	font-family:@fontFamily;
	font-weight:400;

	transform:scale(0);
	&.active {
		transform:scale(1);
	}

}
