.material-tooltip {
	padding: 4px 8px;
	font-size: 14px;
	z-index: 20000;
	background-color: transparent;
	.borderMixin();
	color: #fff;
	line-height: 120%;
	opacity: 0;
	position: absolute;
	text-align: center;
	max-width: calc(100% - 4px);
	overflow: hidden;
	left: 0;
	top: 0;
	pointer-events: none;
	visibility: hidden;

	.backdrop {
		position: absolute;
		opacity: 0;
		height: 7px;
		width: 14px;
		border-radius: 0 0 50% 50%;
		background-color: @secondaryTextColor;
		z-index: -1;
		-webkit-transform-origin: 50% 0;
		transform-origin: 50% 0;
		visibility: hidden;
	}
}
