h1, h2, h3, h4, h5, h6 {
	color: var(--palette_body_headline);
	font-family: var(--font_headline);
	font-weight: 400;
	margin: 8px;
}

p {
	color: var(--palette_body_body);
	font-family: var(--font_body);
	font-weight: 400;
	margin: 8px;
}
