.photon-btn {
	transition: none var(--animation_speed_fast) var(--animation_curve);
	font-family: var(--font_interactive);
	border-radius: var(--shape);
	transition-property: background, box-shadow, border-color;
	text-transform: uppercase;
	text-align: center;
	font-weight: 500;
	margin: 8px;
	letter-spacing: 0.02857em;
	box-sizing: border-box;
	display: inline-block;
	min-width: 64px;
	user-select: none;
	cursor: pointer;
	font-size: 0.875rem;
	min-height: 36px;
	line-height: 36px;
	padding: 0 16px;
	border: none;
	outline: none;

	&.variant-raised {
		.raised-2();
		background: #e0e0e0;

		&:hover {
			background: #d1d1d1;
			.raised-4();
		}

		&:active {
			.raised-8();
		}

		&.color-primary {
			background: var(--palette_primary_normal);
			color: var(--palette_primary_text);

			&:hover {
				background: var(--palette_primary_dark);
			}

			.waves-ripple {
				background: var(--palette_primary_waves);
			}
		}

		&.color-secondary {
			background: var(--palette_secondary_normal);
			color: var(--palette_secondary_text);

			&:hover {
				background: var(--palette_secondary_dark);
			}

			.waves-ripple {
				background: var(--palette_secondary_waves);
			}
		}
	}
}
