.photon-checkbox(@color) {
	input[type="checkbox"]:checked {
		border-color: @color;
	}
	input[type="checkbox"]:checked ~ .waves-effect {
		&:hover {
			background: fade(@color, 4%);
		}
		.waves-ripple {
			background: fade(@color, 30%);
		}
	}
	input[type="checkbox"]::after {
		color: @color;
	}
}

.checkbox {
	padding-top: 12px;
	padding-left: 11px;
	position: relative;
	input[type="checkbox"] {
		-webkit-appearance: none;
		-mox-appearance: none;
		-o-appearance: none;
		appearance: none;
		border: 2px solid @border-variant;
		border-radius: 2px;
		width: 18px;
		height: 18px;
		outline: none;
		z-index: 1;
		display: inline-block;
		transition: border-color @shortest, @sharp, border-width @shortest @sharp;
		&::after {
			position: absolute;
			top: 16px;
			left: 16px;
			content: "check";
			font-family: "Material Icons";
			font-size: 16px;
			color: @surface;
			width: 0;
			overflow: hidden;
			transition: width @short @sharp @shortest;
			vertical-align: middle;
			line-height: 18px;
		}
	}
	.waves-effect {
		width: 40px;
		height: 40px;
		border-radius: 50%;
		position: absolute;
		z-index: 2;
		top: 5px;
		left: 4px;
		&:hover {
			background: fade(#000, 4%);
		}
	}
	label {
		display: inline-block;
		line-height: 40px;
		transform: translateY(-7px);
		font-size: 1rem;
		padding: 0 1rem;
		cursor: pointer;
	}
	label:hover ~ .waves-effect {
		background: fade(#000, 4%);
	}
	input[type="checkbox"]:checked {
		border-width: 9px;
		&::after {
			width: 16px;
		}
	}

	&.primary {
		.photon-checkbox(@primary);
	}

	&.accent {
		.photon-checkbox(@accent);
	}

	&.disabled,
	&:disabled {
		input[type="checkbox"] {
			pointer-events: none;
			opacity: .67;
			&:checked {
				border-color: fade(#000, 54%);
			}
		}
		label {
			cursor: default;
		}
		.waves-effect {
			display: none;
		}
	}
}
