footer {
	display: block;
	padding-top: 20px;
	margin: 1rem -8px -8px;
	padding: 0 1rem;
	max-width: 100vw;

	padding-top: 1rem;
	margin-top: 1rem!important;
	flex-shrink: 0;
	font-family: var(--font_body);

	.footer-copyright {
		overflow: hidden;
		min-height: 50px;
		display: flex;
		align-items: center;
		color: inherit;
		border-top: inherit;
		margin: 0 -1rem;
		padding: 0 1rem;
		font-size: 14px;

		.container {
			padding-bottom: 0;
		}
	}

	ul {
		padding: 0;
	}

	a {
		color: inherit;
	}

	&.attached-to-bottom {
		position: fixed;
		bottom: 24px;
		width: 100%;
	}

	.footer-copyright {
		border: none!important;
		background-color: #0000001a!important;
	}

	background-color: var(--palette_header_background);
	color: var(--palette_header_text);

	h2, p {
		color: var(--palette_header_text);
	}

}