.radio {
	padding-top: 12px;
	padding-left: 11px;
	position: relative;
	input[type="radio"] {
		-webkit-appearance: none;
		-mox-appearance: none;
		-o-appearance: none;
		appearance: none;
		border: 2px solid fade(#000, 54%);
		border-radius: 50%;
		width: 18px;
		height: 18px;
		margin-bottom: 4px;
		margin-left: 4px;
		outline: none;
		z-index: 1;
		display: inline-block;
		transition: border-color @shortest @easeOut;
		&::after {
			position: absolute;
			top: 20.125px;
			left: 20px;
			content: "";
			width: 8px;
			height: 8px;
			border-radius: 50%;
			background: fade(#000, 54%);
			transform: scale(0);
			transition: transform @short @easeOut;
		}
	}
	.waves-effect {
		width: 40px;
		height: 40px;
		border-radius: 50%;
		position: absolute;
		z-index: 2;
		top: 4px;
		left: 4px;
		&:hover {
			background: fade(#000, 4%);
		}
	}
	label {
		display: inline-block;
		line-height: 40px;
		transform: translateY(-7px);
		font-size: 1rem;
		padding: 0 1rem;
		cursor: pointer;
	}
	label:hover ~ .waves-effect {
		background: fade(#000, 4%);
	}
	input[type="radio"]:checked {
		&::after {
			transform: scale(1);
		}
	}

	&.primary {
		input[type="radio"]:checked {
			border-color: @primaryColor;
		}
		input[type="radio"]:checked ~ .waves-effect {
			&:hover {
				background: fade(@primaryColor, 4%);
			}
			.waves-ripple {
				background: fade(@primaryColor, 30%);
		   	}
		}
		input[type="radio"]:checked::after {
			background-color: @primaryColor;
		}
	}

	&.accent {
		input[type="radio"]:checked {
			border-color: @accentColor;
		}
		input[type="radio"]:checked ~ .waves-effect {
			&:hover {
				background: fade(@accentColor, 4%);
			}
			.waves-ripple {
				background: fade(@accentColor, 30%);
		   	}
		}
		input[type="radio"]:checked::after {
			background-color: @accentColor;
		}
	}

	&.disabled,
	&:disabled {
		input[type="radio"] {
			pointer-events: none;
			opacity: .67;
			&:checked {
				border-color: fade(#000, 54%);
				&::after {
					background-color: fade(#000, 54%);
				}
			}
		}
		label {
			cursor: default;
		}
		.waves-effect {
			display: none;
		}
	}
}
