.snackbar-container {
	position: fixed;
	bottom: 0;
	left: 0;
	max-width: 688px;
	z-index: 1500;
	pointer-events: none;
	display: flex;
  	justify-content: flex-end;
  	flex-direction: column;
	padding: 4px;
	@media @sm {
		width: calc(100% - 8px);
	}
	.snackbar {
		.raised-6();
		pointer-events: all;
		background-color: #333;
		border-radius: 4px;
		margin: 4px;
		transform: scale(.6);
		opacity: 0;
		transition: all @easeOut @shortest;
		transition-property: opacity, transform, margin-top;
		margin-top: -52px;
		min-height: 48px;
		min-width: 96px;
		&.active {
			opacity: 1;
			transform: scale(1);
			margin-top: 4px;
		}
		.label {
			font-family: @fontFamily;
			font-size: .875rem;
			line-height: 1.25rem;
			font-weight: 400;
			letter-spacing: .0178571429em;
			text-decoration: inherit;
			text-transform: inherit;
			-ms-flex-positive: 1;
			flex-grow: 1;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			margin: 0;
			padding: 14px 16px;
			color: #ffffffde;
			display: inline-block;
		}
		.btn {
			margin: 6px 0;
			margin-right: 6px;
			float: right;
		}
	}
}
