@shortest: 100ms;
@shorter: 150ms;
@short: 200ms;
@standard: 250ms;

@easeIn: cubic-bezier(0.4, 0, 1, 1);
@easeInOut: cubic-bezier(0.4, 0, 0.2, 1);
@easeOut: cubic-bezier(0.0, 0, 0.2, 1);
@sharp: cubic-bezier(0.4, 0, 0.6, 1);
