@shortest: 150ms;
@shorter: 200ms;
@short: 250ms;
@standard: 300ms;

@easeIn: cubic-bezier(0.4, 0, 1, 1);
@easeInOut: cubic-bezier(0.4, 0, 0.2, 1);
@easeOut: cubic-bezier(0.0, 0, 0.2, 1);
@sharp: cubic-bezier(0.4, 0, 0.6, 1);
