@import "../photon/fonts/Google_Sans/css.css";
@import "../photon/fonts/Icon_Font/material-icons.css";
@import "../photon/fonts/Roboto/css.css";
@import "../photon/fonts/Roboto_Condensed/css.css";
@import "../photon/fonts/Roboto_Mono/css.css";
@import "../photon/fonts/Roboto_Slab/css.css";

@mobile: ~"only screen and (max-width: 529px)";
@tablet: ~"only screen and (min-width: 530px) and (max-width: 949px)";
@desktop: ~"only screen and (min-width: 950px)";
@desktop-xl: ~"only screen and (min-width: 1129px)";

::selection {
	background: #bbd3fd;
	color: #000;
}

::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: #888;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.borderMixin(@mx:1, @ma:0) {
	border-radius: ((extract(@cornerLevels,1) * @mx) + @ma) ((extract(@cornerLevels,2) * @mx) + @ma) ((extract(@cornerLevels,4) * @mx) + @ma) ((extract(@cornerLevels,3) * @mx) + @ma);
}

* {
	-webkit-tap-highlight-color: transparent;
}

body {
	color: #212121;
	background: #fafafa;
	font-family: @fontFamily;
	padding: 1rem;
	outline: 0;
	font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	color:rgba(0,0,0,.78);
	font-family:@fontFamily;
	display:block;
	overflow-x: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}

body when (@photonDarkTheme = true) {
	background: #212121;
	color: #fafafa;

	hr + .subheader {
		color: #aaa!important;
	}

	hr {
		border-color: fade(#545454,50%);
	}

	&::-webkit-scrollbar-track,
	::-webkit-scrollbar-track,
	&::-webkit-scrollbar-corner,
	::-webkit-scrollbar-corner {
		background: #262626;
	}

	&::-webkit-scrollbar-thumb,
	::-webkit-scrollbar-thumb {
		background: #545454;
	}

	&::-webkit-scrollbar-thumb:hover,
	::-webkit-scrollbar-thumb:hover {
		background: #767676;
	}

	h1, h2, h3, h4, h5, h6 {
		color:rgba(245,245,245,.78);
	}
}

* {
	outline: 0;
}

img {
	user-select: none;
	display: block;
	max-width: 100%;
}

.center {
	text-align: center;
}

hr {
	border: none;
	border-top: 1px solid fade(@dividerColor,50%);
	margin: 2rem 0;
}

.transition {
	transition: all 200ms cubic-bezier(.25,.8,.25,1);
}

.right {
	float: right;
}

.center-fixed {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

label {
	position: relative;

	input[type="checkbox"] ~ &,
	input[type="radio"] ~ & {
		margin-left: 24px;
		top: -6px;
	}
}

a {
	color: @accentColor;
	text-decoration: none;
}

ul li {
	list-style: none;
}

ol li {
	line-height:1.5;
	vertical-align:middle;
}

iframe,
video {
	display: block;
	width: 100%;
	border: none;
}

@import "../comp/appbar.less";
@import "../comp/autolink.less";
@import "../comp/badge.less";
@import "../comp/button.less";
@import "../comp/card.less";
@import "../comp/checkbox.less";
@import "../comp/collapsible.less";
@import "../comp/collection.less";
@import "../comp/color.less";
@import "../comp/dialog.less";
@import "../comp/footer.less";
@import "../comp/grid.less";
@import "../comp/icon.less";
@import "../comp/lighting.less";
@import "../comp/note.less";
@import "../comp/progress.less";
@import "../comp/radio.less";
@import "../comp/scrollnav.less";
@import "../comp/select.less";
@import "../comp/sidenav.less";
@import "../comp/slider.less";
@import "../comp/switch.less";
@import "../comp/table.less";
@import "../comp/tabs.less";
@import "../comp/textfield.less";
@import "../comp/toast.less";
@import "../comp/tooltip.less";
@import "../comp/waves.less";
